---
openapi: 3.0.3
info:
  title: Digital Reception API
  version: 1.0.0
servers:
- url: https://api-demo.dreception.com
  description: Demo API
- url: https://api.dreception.com
  description: Production API
paths:
  "/v1/c/cycle_api_keys":
    post:
      summary: cycle_api_keys
      tags:
      - Config
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  type: string
              required:
              - key
            example:
              key: my primary key string
      responses:
        '200':
          description: Cycles API Keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  primary_key:
                    type: string
                  secondary_key:
                    type: string
                  primary_key_valid_until:
                    type: string
                  secondary_key_valid_until:
                    type: string
                required:
                - primary_key
                - secondary_key
                - primary_key_valid_until
                - secondary_key_valid_until
              example:
                primary_key: my secondary key string
                secondary_key: T_xV7hnehgqB0cJoCA-FbQGjDzzr1118qG0njy8m01Rw
                primary_key_valid_until: '2024-07-30T11:42:51Z'
                secondary_key_valid_until: '2024-08-14T11:42:51Z'
  "/v1/c/events":
    get:
      summary: events
      tags:
      - API
      parameters:
      - name: key
        in: query
        required: false
        schema:
          type: string
        example: my primary key string
      - name: location_id
        in: query
        required: false
        schema:
          type: integer
        example: 1
      - name: month
        in: query
        required: false
        schema:
          type: integer
        example: 0
      responses:
        '200':
          description: Get Events
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    person_name:
                      type: string
                    type_of_person:
                      type: string
                    check_in:
                      type: string
                    check_out:
                      type: string
                    device_check_out:
                      type: boolean
                    reported_check_out:
                      type: boolean
                    location:
                      type: string
                    visited_people:
                      type: integer
                    unassigned_visited_people:
                      type: integer
                    photo_taken:
                      type: boolean
                    duration:
                      type: string
                  required:
                  - id
                  - person_name
                  - type_of_person
                  - check_in
                  - check_out
                  - device_check_out
                  - reported_check_out
                  - location
                  - visited_people
                  - unassigned_visited_people
                  - photo_taken
                  - duration
              example:
              - id: c4ba5661-c7df-43e9-aedd-c1042e2e03a2
                person_name: John Smith
                type_of_person: Visitor
                check_in: '2024-07-15T12:42:51.793+01:00'
                check_out: N/A
                device_check_out: false
                reported_check_out: false
                location: Main building
                visited_people: 1
                unassigned_visited_people: 0
                photo_taken: false
                duration: N/A
  "/v1/c/feedback":
    get:
      summary: feedback
      tags:
      - API
      parameters:
      - name: key
        in: query
        required: false
        schema:
          type: string
        example: my primary key string
      - name: location_id
        in: query
        required: false
        schema:
          type: integer
        example: 1
      - name: month
        in: query
        required: false
        schema:
          type: integer
        example: 0
      responses:
        '200':
          description: Get Feedback
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    person_name:
                      type: string
                    type_of_person:
                      type: string
                    question_type:
                      type: string
                    question:
                      type: string
                    answer:
                      type: string
                    answered_at:
                      type: string
                    action_needed:
                      type: boolean
                    action_status:
                      type: string
                  required:
                  - id
                  - person_name
                  - type_of_person
                  - question_type
                  - question
                  - answer
                  - answered_at
                  - action_needed
                  - action_status
              example:
              - id: 3dedc5a3-afa0-4e18-a38e-3d8fb4de6b92
                person_name: John Smith
                type_of_person: Visitor
                question_type: Stars
                question: Was the home safe?
                answer: 5 Stars
                answered_at: '2024-07-15T12:42:51.975+01:00'
                action_needed: false
                action_status: N/A
  "/v1/c/fire_log":
    get:
      summary: fire_log
      tags:
      - API
      parameters:
      - name: key
        in: query
        required: false
        schema:
          type: string
        example: my primary key string
      - name: location_id
        in: query
        required: false
        schema:
          type: integer
        example: 1
      responses:
        '200':
          description: Get Fire Log
          content:
            application/json:
              schema:
                type: object
                properties:
                  visitors:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        first_name:
                          type: string
                        last_name:
                          type: string
                        phone:
                          nullable: true
                        check_in:
                          type: string
                        custom_attributes:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              name:
                                type: string
                              value:
                                type: string
                              include_in_fire_log:
                                type: boolean
                            required:
                            - id
                            - name
                            - value
                        visited_people:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              id:
                                type: integer
                            required:
                            - name
                            - id
                      required:
                      - id
                      - first_name
                      - last_name
                      - phone
                      - check_in
                      - custom_attributes
                      - visited_people
                  residents:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        first_name:
                          type: string
                        last_name:
                          type: string
                        phone:
                          type: string
                        check_in:
                          type: string
                        custom_attributes:
                          type: array
                          items: {}
                        visited_people:
                          type: array
                          items: {}
                      required:
                      - id
                      - first_name
                      - last_name
                      - phone
                      - check_in
                      - custom_attributes
                      - visited_people
                  staff:
                    type: array
                    items: {}
                  contractors:
                    type: array
                    items: {}
                  industry_professionals:
                    type: array
                    items: {}
                  other:
                    type: array
                    items: {}
                required:
                - visitors
                - residents
                - staff
                - contractors
                - industry_professionals
                - other
              example:
                visitors:
                - id: 1
                  first_name: John
                  last_name: Smith
                  phone:
                  check_in: 12:42pm
                  custom_attributes:
                  - id: 1
                    name: Car Registration
                    value: SM1F33
                  visited_people:
                  - name: Delia Smith
                    id: 1
                residents:
                - id: 2
                  first_name: Delia
                  last_name: Smith
                  phone: '07000123456'
                  check_in: Resident
                  custom_attributes: []
                  visited_people: []
                staff: []
                contractors: []
                industry_professionals: []
                other: []
  "/v1/c/list_api_keys":
    get:
      summary: list_api_keys
      tags:
      - Config
      parameters:
      - name: key
        in: query
        required: false
        schema:
          type: string
        example: my primary key string
      responses:
        '200':
          description: Returns your API Keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  primary_key:
                    type: string
                  secondary_key:
                    type: string
                  primary_key_valid_until:
                    type: string
                  secondary_key_valid_until:
                    type: string
                required:
                - primary_key
                - secondary_key
                - primary_key_valid_until
                - secondary_key_valid_until
              example:
                primary_key: my primary key string
                secondary_key: my secondary key string
                primary_key_valid_until: '2024-07-23T11:42:51Z'
                secondary_key_valid_until: '2024-08-07T11:42:51Z'
  "/v1/c/list_locations":
    get:
      summary: list_locations
      tags:
      - API
      parameters:
      - name: key
        in: query
        required: false
        schema:
          type: string
        example: my primary key string
      responses:
        '200':
          description: Lists Locations
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    hidden:
                      type: boolean
                  required:
                  - id
                  - name
                  - hidden
              example:
              - id: 1
                name: Main building
                hidden: false
              - id: 2
                name: Second building
                hidden: true
  "/v1/c/outstanding_actions":
    get:
      summary: outstanding_actions
      tags:
      - API
      parameters:
      - name: key
        in: query
        required: false
        schema:
          type: string
        example: my primary key string
      - name: location_id
        in: query
        required: false
        schema:
          type: integer
        example: 1
      - name: month
        in: query
        required: false
        schema:
          type: integer
        example: 0
      responses:
        '200':
          description: Get Outstanding Actions
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    status:
                      type: string
                    problem:
                      type: string
                    problem_type:
                      type: string
                    date_of_problem:
                      type: string
                    location:
                      type: string
                    person_name:
                      type: string
                    type_of_person:
                      type: string
                    action_id:
                      type: integer
                    action_type:
                      type: string
                    action_outcome:
                      type: string
                    user_name:
                      type: string
                  required:
                  - id
                  - status
                  - problem
                  - problem_type
                  - date_of_problem
                  - location
                  - person_name
                  - type_of_person
                  - action_id
                  - action_type
                  - action_outcome
                  - user_name
              example:
              - id: 1
                status: open
                problem: Broken lightbulb
                problem_type: Maintenance
                date_of_problem: '2024-07-15T11:42:52.168Z'
                location: Main building
                person_name: Delia Smith
                type_of_person: Resident
                action_id: 1
                action_type: Phone Call
                action_outcome: Maintenance slot booked for Friday
                user_name: Test User
